* {
    font-family: 'Quicksand', cursive; 
}

.navbar-nav>li>a:hover{
    color: white !important;
    background-color: #28a38f !important;
    border-radius: 5px !important;
}

.navbar-nav>li>a:active {
    color: white !important;
    background-color: #e3245e !important;
    border-radius: 5px !important;
}

body {
    position: relative;
    height:100%;

}

p {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

ul li {
    font-size: 16px;
}

.navbar {
    padding: 10px 0;
    -webkit-transition: background .25s ease-in-out,padding .25s ease-in-out;
    -moz-transition: background .25s ease-in-out,padding .25s ease-in-out;
    transition: background .25s ease-in-out,padding .25s ease-in-out;
}

#navsections {
    float: right;
}

.services {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: white;  
      margin: 10px;
      height: 300px;
      padding-top: 20px;
      border-radius: 20px
}

.centersections {
    margin-left: 55px;
}

.top-nav-collapse {
    padding: 0;
}

#Miriam {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
}

#logo {
    padding-top: 100px;
    display: block;
    position: relative;
    width: 30%;
    margin: auto;
    text-align: center;
}

#logohome {
    width: 60%;
    padding-top: 100px;
    display: block;
    margin: auto;
    clear:both;
    margin-bottom: -170px;
}

#missionstatement {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px; 
    color: #28a38f;
    clear: both;
}


#welcome {
    height: 250px;
}

#about {
    margin-bottom: 100px;
}

#section1{
    padding-top: 40px; 
    padding-bottom: 40px;
    height: 100%; 
}

#section2 {
    padding-top: 40px; 
    height: 100%;
    padding-bottom: 40px;
    background-color: cadetblue;
}

#section3 {
    padding-top: 40px; 
    padding-bottom: 40px;
    height: 100%;
}

#section4 {
    padding-top: 40px; 
    padding-bottom: 40px;
    height: 100%;
}

footer {
    margin-top: 20px;
    height: 100px;
    background-color: #e3245e; 
    position: absolute;
    bottom: 0; 
}


footer p {
    padding-top: 25px;
    color: white; 
    font-size: 12px;
    text-align: center; 
}

iframe {
    margin: auto;
    display: inherit; 
}

a {
    text-decoration: none; 
    color: white; 
}

/*animations*/
@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}